{% extends "govuk/template.njk" %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
  {% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
  {% endfor %}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle | default(applicationName) }}
{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block content %}
  {% if headerCRN %}
    {% include "partials/pop-header.njk" %}
    <hr class="govuk-section-break--l">
  {% endif %}

  {% block pageContent %}{% endblock %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
{% endblock %}

{% block footer %}
    {% include "./footer.njk" %}
{% endblock %}
