{% extends "../../partials/contacts.njk" %}
{% set pageTitleText = "Confirm the person's " + contactPreference %}
{% if errorMessages and errorMessages | length %}
  {% set pageTitle = makePageTitle({
    pageHeading: ["Error: " + pageTitleText]
  }) %}
{% else %}
  {% set pageTitle = makePageTitle({
    pageHeading: [pageTitleText]
  }) %}
{% endif %}
{% set captionText = "Confirm " + case.name.forename + "'s " + contactPreference %}
{% set backLink =  '/case/' + crn + '/appointments/' + id + '/check-in/' + 'contact-preference' if not cya else 'checkin-summary'%}
{% set radioLabel =  "Is this the right " + contactPreference + " for " + case.name.forename + "?" %}
{% set radioTextOption = "No, I need to change the " + contactPreference %}
{% set setMobile =  '[esupervision]['+  crn + '][' + id +'][checkins][checkInMobile]' %}
{% set setEmail =  '[esupervision]['+  crn + '][' + id +'][checkins][checkInEmail]' %}
{% set setMobileError =  'esupervision-'+  crn + '-' + id +'-checkins-checkInMobile' %}
{% set setEmailError =  'esupervision-'+  crn + '-' + id +'-checkins-checkInEmail' %}
{% set cyaLink =  "?cya=true" if cya else  "" %}
{% set mobileValue = checkInMobile if checkInMobile else 'No mobile number' %}
{% set emailValue = checkInEmail if checkInEmail else 'No email address' %}

{% block beforeContent %}
    {{ govukBackLink({
          text: "Back",
          href: backLink
    }) }}

    {{ mojBanner({
        type: 'success',
        text: 'Contact details saved',
        classes: 'govuk-!-margin-bottom-2',
        attributes: { "data-qa": "updateBanner"},
        iconFallbackText: 'Success'
    }) if success }}

{% endblock %}
{% block pageContent %}


    <form method="post" autocomplete="off" action="{{ paths.current }}">
        {% if errorMessages[setMobileError] or errorMessages[setEmailError] %}
            {% if errorMessages[setMobileError] %}
                <div class="govuk-form-group govuk-form-group--error" id="{{ setMobileError }}">
            {% endif %}
            {% if errorMessages[setEmailError] %}
                <div class="govuk-form-group govuk-form-group--error" id="{{ setEmailError }}">
            {% endif %}
        {% else %}
            <div class="govuk-form-group">
        {% endif %}
        {% if errorMessages[setMobileError] %}
            <p class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>{{errorMessages[setMobileError]}}
            </p>
        {% endif %}
        {% if errorMessages[setEmailError] %}
            <p class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>{{errorMessages[setEmailError]}}
            </p>
        {% endif %}
        </div>

    <div class="govuk-!-width-two-thirds">

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--l">
                {{ captionText }}
                <p class="govuk-body govuk-!-margin-top-2">
                This information is saved in NDelius.
                </p>
            </caption>

            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-font-weight-bold">
                    {{ contactPreference | capitalize }}
                </th>
                <td class="govuk-table__cell">
                    {{ contactValue }}
                </td>
                </tr>
            </tbody>
            </table>
            {{ govukRadios({
                fieldset: {
                    legend: {
                        text: radioLabel ,
                        classes: "govuk-label--m govuk-!-font-weight-bold"
                    }
                },
                formGroup: {
                    attributes: {
                        'data-qa': 'checkInConfirmPreferredComs'
                    }
                },
                items: [
                    {
                        value: "YES",
                        text: "Yes"
                    },
                    {
                        value: "NO",
                        text: radioTextOption
                    }
                ]
            } | decorateFormAttributes(['esupervision', crn, id, 'checkins', 'confirmPreferredComs'])) }}

            <div class="govuk-button-group">
                <button type="submit" name ="change" value = "main" class="govuk-button" data-module="govuk-button" data-qa="submitBtn">
                    Continue
                </button>
            </div>
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="hidden" name="checkInMobile" value="{{ checkInMobile }}">
            <input type="hidden" name="checkInEmail" value="{{ checkInEmail }}">
            <input type="hidden" name="{{ setMobile }}" value="{{ checkInMobile }}">
            <input type="hidden" name="{{ setEmail }}" value="{{ checkInEmail }}">
        </form>


{% endblock %}
