{% extends "../_form.njk" %}

{% set textAreaTitle = "What is " + case.name.forename + "'s " + contactPreference + "?" %}
{% set pageTitleText = "Edit contact details for the person" %}
{% if errorMessages and errorMessages | length %}
  {% set pageTitle = makePageTitle({
    pageHeading: ["Error: " + pageTitleText]
  }) %}
{% else %}
  {% set pageTitle = makePageTitle({
    pageHeading: [pageTitleText]
  }) %}
{% endif %}
{% set notStandardForm = true %}
{% set isPhone = preferredComs === 'PHONE' %}
{% set editField = 'editCheckInMobile' if isPhone else 'editCheckInEmail' %}
{% set editHint = 'For example, 07771 900 900. The mobile number must belong to ' + case.name.forename + '.' if isPhone else 'For example, name@example.com. The email address must belong to ' + case.name.forename + '.' %}

{% block primary %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        {% if errorMessages %}
          {% set errorList = errorMessages | toErrorList %}
          {% if errorList.length > 0 %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                classes: 'govuk-!-margin-bottom-6',
                errorList: errorList,
                attributes: { "data-qa": "errorList"}
            }) }}
          {% endif %}
        {% endif %}

        <form method="post" autocomplete="off" action="{{ paths.current }}">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <input type="hidden" name="change" value="{{ change }}">
            <input type="hidden" name="previousMobile" value="{{ previousMobile }}">
            <input type="hidden" name="previousEmail" value="{{ previousEmail }}">

            {{ govukInput({
                label: {
                    text: textAreaTitle,
                    classes: "govuk-label--l govuk-!-font-weight-bold"
                },
                hint: {
                    text: editHint
                },
                formGroup: {
                    attributes: { 'data-qa': 'editContactValue' }
                },
                classes: "govuk-input govuk-!-width-one-half"
            } | decorateFormAttributes(['esupervision', crn, id, 'checkins', editField])) }}

            {{ govukWarningText({
                text: "If you change contact details here, this will update the record in NDelius." if hasContactDetails else "If you add contact details here, this will update the record in NDelius.",
                iconFallbackText: "Warning",
                attributes: { "data-qa": "updateBanner" }
            }) }}

            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Continue",
                    type: "submit",
                    attributes: { "data-qa": "submit-btn" }
                }) }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
