{% extends "../_content.njk" %}
{% set title = "Temporary online check ins overview page"%}
{% set stopButtonText = "Stop online check ins for " + crn %}
{% set changeQuestionsButtonText = "Change questions for " + crn %}


  {% block primary %}

<a data-qa="stop-checkin-btn" class='govuk-button' href="/case/{{ crn }}/appointments/check-in/manage/{{ id }}/stop-checkin">
  {{stopButtonText}}
</a>
<a data-qa="change-questions-checkin-btn" class='govuk-button' href="/case/{{ crn }}/appointments/check-in/manage/{{ id }}/questions/start">
  {{changeQuestionsButtonText}}
</a>
{% endblock %}
