{% extends "../_content.njk" %}
{% set text = "Stop online check ins for " + crn %}


  {% block primary %}

<a class='govuk-button' href="/case/{{ crn }}/appointments/check-in/manage/{{ id }}/stop-checkin">
  {{text}}
</a>
{% endblock %}
