{% extends "../_form.njk" %}

{% set title = "About online check ins"  %}
{% set pageTitleText = "About online check ins" %}
{% if errorMessages and errorMessages | length %}
  {% set pageTitle = makePageTitle({
    pageHeading: ["Error: " + pageTitleText]
  }) %}
{% else %}
  {% set pageTitle = makePageTitle({
    pageHeading: [pageTitleText]
  }) %}
{% endif %}
{% set showAnchorLink = true %}
{% set back = back if back else '' %}
{% set backLink =  '/case/' + crn + '/'  + back %}
{% set notStandardForm = true %}
{% set buttonText = "Continue" %}


{% block primary %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-6" data-qa="pageHeading">
          {{ title }}
      </h2>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form method="post" autocomplete="off" action="{{ paths.current }}">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            <p class="govuk-body">Online check ins allow people on probation to update you about their needs and how they are feeling. They’ll do this by answering some questions about how they are and if they need any support, and verifying their identity. </p>

            {% if accreditedProgramme %}
            <h3 class="govuk-heading-m">How you can use online check ins with people in Tiers A and B</h3>
              <p class="govuk-body">You can use online check ins with people in Tiers A or B, if they are in an accredited programme and are not in early engagement. This will allow you to reduce face to face contact to a minimum of once a month. This must be discussed with the accredited programme treatment manager, to check the person is compliant. </p>
              {# TODO: once one-off check ins are enabled, uncomment the <p> below, and remove the one below it.  #}
              {# <p class="govuk-body">You can schedule check ins to happen at regular intervals, for example, every week, or every two weeks, or you can schedule check ins one at a time.</p> #}
              <p class="govuk-body">You can schedule check ins to happen at regular intervals, for example, every week, or every two weeks.</p>
              <p class="govuk-body">Once the person has finished their accredited programme, they will no longer be eligible to use online check ins.</p>

            {% else %}


            <h3 class="govuk-heading-m">How you can use online check ins</h3>
              <p class="govuk-body">You can use online check ins as additional contact with the people you manage.</p>
              {# TODO: once one-off check ins are enabled, uncomment the <p> below, and remove the one below it.  #}
              {# <p class="govuk-body">You can schedule check ins to happen at regular intervals, for example, every week, or every two weeks, or you can schedule check ins one at a time.</p> #}
              <p class="govuk-body">You can schedule check ins to happen at regular intervals, for example, every week, or every two weeks.</p>
            {% endif %}


            <h3 class="govuk-heading-m">Guidance about online check ins</h3>
            <p class="govuk-body">You can learn more about online check ins in our guidance pages.</p>



                        <p class="govuk-body">
            <a class="govuk-link" href="{{guidanceUrl}}/practitioner-guidance">Practitioner guidance about online check ins (opens in new tab)</a>, including setting people up and reviewing completed check ins.
            </p>

            <p class="govuk-body">
            <a class="govuk-link" href="{{guidanceUrl}}/guidance">Guidance for people on probation about online check ins (opens in new tab)</a>, including how they work and what questions we ask
            </p>
            <h3 class="govuk-heading-m">What you need to do</h3>
            <p class="govuk-body">When you sign a person up to use online check ins, you will need to:
              <ul class="govuk-list govuk-list--bullet">
                {% if accreditedProgramme %}
                <li>confirm you have spoken to the accredited programme treatment manager</li>
                {% endif %}
                <li>take or upload a photo of the person</li>
                <li>check or update the person’s contact details </li>
                <li>choose how often you want to send them check ins</li>
              </ul>
            </p>
              <div class="govuk-button-group">
                {{ govukButton({
                    text: buttonText,
                    type: "submit",
                    attributes: { "data-qa": "submit-btn" }
                }) }}
            </div>
        </form>
    </div>
  </div>
{% endblock %}
