{% extends "../../_form.njk" %}
{% set title = case.name.forename + " is not eligible to use online check ins"  %}
{% set pageTitleText = "The person is not eligible to use online check ins" %}
{% set pageTitle = makePageTitle({
  pageHeading: [pageTitleText]
}) %}
{% set back = back if back else '' %}
{% set backLink = '/case/' + crn + '/appointments/' + id + '/check-in/eligibility-check' %}
{% set buttonText = "Go to " + case.name.forename + "'s overview" %}


{# `reason` completes the sentence below. The reasons and the rules that pick between them live in
   utils/eligibilityRules - nextAfterEligibilityCheck and nextAfterPilotCheck. #}

{% block form %}
    <p class="govuk-body">This is because {{case.name.forename}} {{reason}}.</p>
    {# A missing supervision package is a hard requirement, so re-running the check cannot change
       the outcome - see canRecheck in getNotEligiblePage. #}
    {% if canRecheck %}
        <p class="govuk-body">If you think this is wrong you can go back and perform the eligibility check again.</p>
    {% endif %}
{% endblock %}
