{% extends "../../_form.njk" %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% set title = "Online check in submitted" %}
{% set pageTitleText = "Review questions" %}
{% if errorMessages and errorMessages | length %}
  {% set pageTitle = makePageTitle({
    pageHeading: ["Error: " + pageTitleText]
  }) %}
{% else %}
  {% set pageTitle = makePageTitle({
    pageHeading: [pageTitleText]
  }) %}
{% endif %}
{% set backLink = back | default('/case/' + crn + '/activity-log') %}
{% set hideButton = true %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {% include "../../../partials/pop-header.njk" %}
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

        {% if errorMessages %}
          {% set errorList = errorMessages | toErrorList %}
          {% if errorList.length > 0 %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorList,
                attributes: { "data-qa": "errorList"}
            }) }}
          {% endif %}
        {% endif %}
        {% block heading %}
          {% if title %}
            <h2 class="govuk-heading-l govuk-!-margin-bottom-6" data-qa="pageHeading">
              {{ title }}
            </h2>
          {% endif %}
        {% endblock %}

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Checked in on</dt>
                <dd class="govuk-summary-list__value">{{checkIn.submittedAt | dateWithYearTimeFirst }}</dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Review due</dt>
                <dd class="govuk-summary-list__value">{{checkIn.reviewDueDate }}</dd>
            </div>
        </dl>

        <h2 class="govuk-heading-m">Review questions</h2>
        <hr class="govuk-section-break govuk-section-break--visible">
        <dl class="govuk-summary-list govuk-!-margin-top-0">
            {% include "pages/check-in/_survey-response.njk" %}
        </dl>

   </div>
</div>
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
        <form method="post" autocomplete="off" action="{{ paths.current  }}">
            {{ govukTextarea({
                label: {
                    text: "What action are you taking after reviewing this check in? (optional)",
                    classes: "govuk-label--m"
                },
                rows: '10',
                maxlength: maxCharCount,
                formGroup: {
                    attributes: { "data-qa": "notes"}
                }
            } | decorateFormAttributes(['esupervision', crn, id, 'checkins', 'notes'])) }}

            {{ govukRadios({
                fieldset: {
                    legend: {
                        text: 'Does this online check in include sensitive information?',
                        classes: "govuk-fieldset__legend govuk-fieldset__legend--m"
                    }
                },
                hint: {
                    text: 'This is information that you believe must be recorded but not shared with a person on probation. If they make a request for their record, the Data Protection Team will decide whether the information can be shared.'
                },
                formGroup: {
                    attributes: {
                        'data-qa': 'sensitiveContact'
                    }
                },
                items: [
                    {
                        value: true,
                        text: "Yes, it includes sensitive information"
                    },
                    {
                        value: false,
                        text: "No, it is not sensitive"
                    }
                ]
            } | decorateFormAttributes(['esupervision', crn, id, 'checkins', 'sensitiveContact'])) }}

            {{ govukRadios({
                fieldset: {
                    legend: {
                    text: "Did this information help you to manage their risk? (optional)",
                    classes: "govuk-fieldset__legend--m"
                    }
                },
                hint: {
                    text: 'We only use this to understand more about the value of online check ins.'
                },
                formGroup: {
                    attributes: {
                        'data-qa': 'riskManagement'
                    }
                },
                items: [
                    {
                        value: "yes",
                        text: "Yes"
                    },
                    {
                        value: "no",
                        text: "No"
                    }
                ]
            } | decorateFormAttributes(['esupervision', crn, id, 'checkins', 'riskManagementFeedback'])) }}

            <div class="govuk-button-group">
                {{ govukButton({
                html: "Complete review",
                attributes: {
                    'data-qa': 'submit-btn'
                }
                }) }}
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        </form>

    </div>
</div>

{% endblock %}
