{# Tiers D-G are eligible outright, with no pilot question, so the back link goes straight to the
   eligibility check. #}
{% extends "../_is-eligible.njk" %}

{% set backLink = '/case/' + crn + '/appointments/' + id + '/check-in/eligibility-check' %}

{% block eligibilityReason %}
    <p class="govuk-body">This is because they are in Tier {{tierScore}} and:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>have not been recalled to prison</li>
        <li>have no sentence restrictions that mean they cannot use a device or the internet</li>
        <li>are not in the final third of their sentence</li>
    </ul>
    <p class="govuk-body">If you think this is wrong, you can go back and perform the eligibility check again.</p>
    <p class="govuk-body">You cannot use online check ins to reduce the minimum in person appointments, but they can be used instead of some face to face appointments where you don’t think you’ll need the maximum for this person.</p>
{% endblock %}
