{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Error" %}
{% set mainClasses = "govuk-body" %}

{% block content %}
  <h1 class="govuk-heading-l">{{ title | safe  }}</h1>

  <p class="govuk-body">{{ message | safe  }}</p>
{% endblock %}
